body{
    display: flex;
    flex-wrap: wrap;
}


header{
    margin-bottom: 4em;
    flex-grow: 1;
    
}



header img{
    width: 100%;
    height: 20em;
}

main{
    display: flex;
    flex-wrap: wrap;
}


main .voiture{
    float: right;
    margin-top: -25em;
    margin-right: 1em;
    box-shadow: 10px 2px 2px grey;
}

section .img1{
    float: right;
}

section .img2{
    left: auto;
    padding-right: 5em;
}


main{
    flex-basis: 70%;
}

aside{
    flex-basis: 25%;
    margin-left: 4em
    
}

ul > li{
    list-style-type: none;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

nav ul{
    border: 2px black groove;
    padding: 2px;
    margin: 1px;
    margin-top: 1em;
    
}

aside li{
    padding-bottom: 2em;
}



section{
    margin-bottom: 9em;
}

footer{
    margin-top: 10em;
}

section p{
    margin-top: 4em;
}

section p{
    line-height: 3em;
}

aside .starsky{
    margin-left: 5em;
}

aside h8, aside h6, aside h5{
    padding: 2em;
}
