body{
    display: flex;
    flex-wrap: wrap;
}

header{
    margin-bottom: 4em;
    flex-grow: 1;
}

header img{
    width: 100%;
    height: 20em;
}

section .img1{
    float: right;
}

section .img2{
    left: auto;
    padding-right: 5em;
}


main{
    flex-basis: 70%;
}

aside{
    flex-basis: 20%;
    margin-left: 4em
    
}

ul > li{
    list-style-type: none;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

nav ul{
    border: 2px black groove;
    padding: 2px;
    margin: 1px;
    margin-top: 1em;
    
}

aside li{
    padding-bottom: 1em;
}

section{
    margin-bottom: 5em;
}



section p{
    margin-top: 4em;
}

video{
    margin-left: 22em;
}
