
aside h4{
    margin-left: 7.5em;
    margin-bottom: 6em;
    
}

aside .torino{
    margin-top: 1em;
    margin-left: 2em;
    
}


aside .imgg{
    margin-left: 4em;
}


aside h5{
    margin-left: 1em;
    font-size: 18px;
}

aside ul > li{
    margin-left: 8em;
}
aside h5 img{
    margin-top: 2em;
}

aside h6{
    font-size: 18px;
    margin-left: 1em;
    margin-top: 5em;
}



aside{
    border: 2em thick black;
}

main{
    border-right: solid thin grey;
}

aside h8{
    margin-left: 1em;
    margin-top: 7em;
    margin-bottom: 4em;
}


header a{
    color: black;
}

aside h5 img, aside h6 img, aside h8 img{
    height: 18px;
}


video{
    margin-left: 7em;
    height: 30em;
    width: 40em;
    margin-bottom: 2em;
}

main img{
    box-shadow: 10px 2px 2px grey;
}

main h1 , main h2 , main h3 , main h4, aside h5, aside h6, aside h8, aside h9{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}

aside h8, aside h9{
    font-weight: bold;
}

section p{
    line-height: 3em;
}

aside img{
    font-size: 3em;
}

footer{
    border: 2px solid black;
    flex-basis: 100%;
    margin-top: 10em;

}
