aside h5{
    margin-left: 1em;
    font-size: 18px;
}

aside ul > li{
    margin-left: 8em;
}


aside h6{
    font-size: 18px;
    margin-left: 1em;
    margin-bottom: 0.5em;
}


aside{
    border: 2em thick black;
}

main{
    border-right: solid thin grey;
}

aside h8{
    font-size: 18px;
    margin-left: 1em;
    margin-top: 7em;
    font-weight: bold;
}


header a{
    color: black;
}


main h1, main h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
}

aside h5, aside h6, aside h8, aside h9{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}

footer{
    border: 2px solid black;
    flex-basis: 100%;
    margin-top: 10em;
}

